.app-bar-left-menu-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-bar-right-menus-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

.app-bar-networks-dropdown-custom-rpc {
	padding-left: 20px !important;
    color: #2A2A2A !important;
}

.app-bar-networks-dropdown-common-rpc {
	padding-left: 16px !important;
}

.app-bar-burger {
	width: 25px;
	height: 11px;
	padding: 0;
	cursor: pointer;
}

.app-bar-header-container {
	display: flex;
  	flex-direction: column;
  	height: 38px;
}