.container {
  width: 100%;
  margin: 5px 0;
}
.container1 {
  width: 100%;
  /* margin: 5px 0; */
}

.selected-value-container {
  display: flex;
  width: 316px;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #c7cdd8;
  background: white;
}

.custom-dropdown-options {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  width: 95.5%;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #c7cdd8;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  max-height: 228px;
}
@media only screen and (max-width: 600px){
  .custom-dropdown-options {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  width: 88.5%;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #c7cdd8;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  max-height: 228px;
}
}


.custom-dropdown-option {
  padding: 7px 5px;
  cursor: pointer;
  /* border-bottom: 0.2px solid #c7cdd8; */
}
