/*
faint orange (textfield shades) #FAF6F0
light orange (button shades): #F5C26D
dark orange (text): #F5A623
borders/font/any gray: #4A4A4A
*/

/*
application specific styles
*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter-Regular";
  color: #333333;
  font-weight: 300;
  line-height: 1.4em;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
}

@-moz-document url-prefix() {
  .ff-body-style {
    width: 357px;
    height: 600px;
  }
}

html {
  min-height: 500px;
  overflow: -moz-scrollbars-none;
}

.address-dropdown {
  background-image: url(/images/Assets/options.svg);
  width: 45px;
  height: 24px;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: center;
}

.account-detail-section::-webkit-scrollbar {
  width: 0;
}

.account-detail-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.account-detail-section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.app-root {
  overflow: hidden;
  position: relative;
}

.app-primary {
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
}

input:focus,
textarea:focus {
  outline: none;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-flex-height {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

#app-content {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

button,
input[type="submit"] {
  font: normal normal medium 14px/17px Inter-Regular;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  transform-origin: center center;
  transition: transform 50ms ease-in;
  border-radius: 4px;
  font-size: 14px;
  /* default green */
  background: #03be46;
  /*box-shadow: 0px 5px 10px 0px rgba(92, 52, 162, 0.3);*/
}

.button {
  font: normal normal medium 14px/17px Inter-Regular;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  transform-origin: center center;
  transition: transform 50ms ease-in;
  border-radius: 4px;
  font-size: 14px;
  /* default green */
  background: #03be46;
  /*box-shadow: 0px 5px 10px 0px rgba(92, 52, 162, 0.3);*/
}

.disabled-button {
  font: normal normal medium 14px/17px Inter-Regular;
  outline: none;
  border: none;
  color: white;
  transform-origin: center center;
  transition: transform 50ms ease-in;
  border-radius: 4px;
  font-size: 14px;
  /* default green */
  background: #e21d16e8;
  /*box-shadow: 0px 5px 10px 0px rgba(92, 52, 162, 0.3);*/
}

.btn-green,
input[type="submit"].btn-green {
  background: #60db97;
}

.btn-red {
  background: #df2265;
}

.btn-violet {
  background: #6729a8;
  margin-right: 10px;
}

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  background: rgba(197, 197, 197, 1);
  box-shadow: 0px 3px 6px rgba(197, 197, 197, 0.36);
}

button.spaced {
  margin: 2px;
}

/* button:not([disabled]):hover, input[type="submit"]:not([disabled]):hover {
  transform: scale(1.1);
} */
button:not([disabled]):active,
input[type="submit"]:not([disabled]):active {
  transform: scale(0.95);
}

.grow-on-hover:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(143, 220, 151, 0.5);
}

/*
app
*/

.active {
  color: #909090;
}

button.btn-thin {
  border: 1px solid;
  border-color: #4d4d4d;
  color: #4d4d4d;
  background: rgb(255, 174, 41);
  border-radius: 4px;
  min-width: 200px;
  margin: 12px 0;
  padding: 6px;
  font-size: 13px;
}

.app-header {
  padding: 4px 5px;
}

.app-header h1 {
  font-family: "Inter-Regular";
  text-transform: uppercase;
  color: #aeaeae;
  background: #ffffff;
}

.notice-box {
  margin: 16px 17px 6px 17px;
}

h2.page-subtitle {
  font-family: "Inter-Bold";
  color: #333333;
  font-size: 1em;
}

.app-footer {
  padding-bottom: 10px;
  align-items: center;
}

.identicon {
  height: 46px;
  width: 46px;
  background-size: cover;
  border-radius: 100%;
  /* border: 3px solid gray; */
}

textarea {
  border: 2px solid #c7cdd8;
  border-radius: 4px;
}

textarea.twelve-word-phrase {
  font-family: "Inter-Regular";
  padding: 4px 0px 4px 2px;
  margin-top: 17px;
  width: 95px;
  height: 29px;
  text-align: left;
  font-size: 14px;
  background: white;
  resize: none;
}

textarea.twelve-word-phrase1 {
  font-family: "Inter-Regular";
  padding: 12px;
  margin-top: 17px;
  width: 265px;
  height: 128px;
  font-size: 14px;
  background: white;
  resize: none;
}
input.textarea.recipient-address {
  font-family: "Nunito Regular";
  width: 265px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 32px;
  font-size: 14px;
  background: white;
  resize: none;
}

.network-indicator {
  display: flex;
  align-items: center;
  font-size: 9px;
}

.network-name {
  width: 68px;
  line-height: 9px;
  text-rendering: geometricPrecision;
  padding-left: 5px;
  font-family: Inter-Medium;
  color: #2A2A2A;
}

.check {
  margin-left: 12px;
  color: #60db97;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}
/*
app sections
*/

/* initialize */

.initialize-screen hr {
  width: 60px;
  margin: 12px;
  border-color: #6729a8;
  border-style: solid;
}

.initialize-screen label {
  margin-top: 20px;
}

.initialize-screen button.create-vault {
  margin-top: 40px;
}

.initialize-screen .warning {
  font-size: 14px;
  margin: 0 16px;
}

/* unlock */
.toast {
  background-image: url("../images/remove.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border: 1px solid !important;
  color: #ffffff !important;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  width: 357px;
  line-height: 14px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  animation: 500ms ease-out 0s move;
  cursor: pointer;
}

.toast.green {
  background-color: #60db97;
  border-color: #60db97 !important;
}

.toast.red {
  background-color: #ff1345;
  border-color: #ff1345 !important;
}

@keyframes move {
  from {
    top: -50px;
  }
  to {
    top: 0px;
    transform: translateY(1);
  }
}

.error {
  margin-bottom: 9px;
  /* border: 1px solid #ff1345 !important; */
  color: #ff0035 !important;
  font-size: 12px;
  background: #fff2f5;
  border-radius: 4px;
  text-align: left;
  padding: 8px 9px 9px 39px;
  background-image: url("../images/warning.svg");
  background-position: 15px;
  background-repeat: no-repeat;
  /* width: 100%; */
  line-height: 14px;
  font-family: Inter-Regular;
}

.error1 {
  margin-bottom: 9px;
  /* border: 1px solid #ff1345 !important; */
  color: #ff0035 !important;
  font-size: 12px;
  background: #fff2f5;
  border-radius: 4px;
  text-align: left;
  padding: 8px 9px 9px 42px;
  background-image: url("../images/warning.svg");
  background-position: 15px;
  background-repeat: no-repeat;
  width: 100%;
  line-height: 14px;
  font-family: Inter-Regular;
}

.error-login {
  color: #ff0035 !important;
  font-size: 12px;
  background: #fff2f5;
  border-radius: 4px;
  text-align: left;
  padding: 8px 9px 9px 39px;
  background-image: url(../images/warning.svg);
  background-position: 15px;
  background-repeat: no-repeat;
  width: 265px;
  line-height: 14px;
  font-family: Inter-Regular;
}

.warning {
  color: #60db97;
}

p.buy-option {
  margin-bottom: 10px;
  /* margin-right: 10px; */
  color: #6729a8;
}

/* .buy-arrow{
  background-image: url('/images/Assets/downarrow-2.svg');
}

.send-arrow{
  background-image: url('/images/Assets.downarrow-2-1.svg');

} */
.new-tx {
  background-image: url("../images/new-tx.svg");
  width: 21px;
  height: 5px;
}

.lock {
  width: 50px;
  height: 50px;
}

.lock.locked {
  transform: scale(1.5);
  opacity: 0;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}
.lock.unlocked {
  transform: scale(1);
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out,
    background 200ms ease-in;
}

.lock.locked .lock-top {
  transform: scaleX(1) translateX(0);
  transition: transform 250ms ease-in;
}
.lock.unlocked .lock-top {
  transform: scaleX(-1) translateX(-12px);
  transition: transform 250ms ease-in;
}
.lock.unlocked:hover {
  border-radius: 4px;
  background: #e5e5e5;
  border: 1px solid #b1b1b1;
}
.lock.unlocked:active {
  background: #c3c3c3;
}

.fa-arrow-left {
  content: url("../images/icon-back.svg");
  width: 14px;
  height: 14px;
}

.arrow-right::before {
  content: url("../images/arrow-right.svg");
  width: 14px;
  height: 14px;
}

.clipboard::before {
  content: url("../images/Assets/Copy.svg");
  width: 14px;
  height: 14px;
}

.clipboard.white::before {
  content: url("/images/Assets/copy.svg");
}

.sandwich-expando {
  background-image: url("../images/Assets/BlueMenu.svg");
  background-size: 20px 21px;
  background-repeat: no-repeat;
  background-position: right;
}

.sandwich-expando.expanded {
  /* background-image: url('../images/Assets/BlueClose.png'); */
  background-size: 20px 21px;
  background-repeat: no-repeat;
  background-position: right;
}

.remove {
  background-image: url("../images/Assets/Delete.svg");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 5px;
}

@media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
  .logo {
    background-image: url(../images/Assets/XDCPay.png);
    background-size: 78px 92px;
  }
}

.logo {
  background-image: url(../images/Assets/XDCPay.png);
  background-repeat: no-repeat;
  width: 78px;
  height: 92px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.select-network-list {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 114px;
}
.select-network-close-icon {
  margin-left: 86px;
  cursor: pointer;
}

.my-accounts-list {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 120px;
}
.my-accounts-close-icon {
  margin-left: 95px;
  cursor: pointer;
}
.my-accounts-icon {
  margin-right: 10px;
}

.wallet-options-list {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 115px;
}
.wallet-options-close-icon {
  margin-left: 90px;
  cursor: pointer;
}
.wallet-options-icon {
  margin-left: 13px;
  margin-right: 8px;
}

.account-options-list {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 17px;
  padding-top: 20px;
  padding-left: 109px;
}
.account-options-close-icon {
  margin-left: 86px;
  cursor: pointer;
}
.account-options-icon {
  margin-left: 13px;
  margin-right: 8px;
}

.token-options-list {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 116px;
}
.token-options-close-icon {
  margin-left: 92px;
  cursor: pointer;
}
.token-options-icon {
  margin-left: 13px;
  margin-right: 13px;
}

.selected-network {
  width: 17px;
  height: 17px;
  background-image: url(../images/Assets/Check-Blue.svg);
  position: absolute;
  object-fit: cover;
  right: 21px;
}

.section-title {
  margin-top: 20px;
  /* font-family: 'Inter'; */
}

.trash:after {
  content: url("../images/close.svg");
  width: 12px;
  height: 12px;
}

/* .section-title .fa-arrow-left { */
/*margin: -2px 8px 0px -8px;*/
/* } */

.unlock-screen #metamask-mascot-container {
  margin-top: 80px;
}

.unlock-screen h1 {
  margin-top: -28px;
  margin-bottom: 15px;
}

.unlock-screen input[type="password"] {
  width: 210px;
  border-radius: 3px;
  border: none;
  /*height: 36px;
  margin-bottom: 24px;
  padding: 8px;*/
}

.sizing-input {
  font-size: 14px;
  height: 32px;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}
.editable-label {
  display: flex;
  margin-bottom: 10px;
}
.editable-button {
  margin-left: 10px;
}
/* Webkit */
.unlock-screen input::-webkit-input-placeholder {
  text-align: left;
  font-size: 14px;
}
/* Firefox 18- */
.unlock-screen input:-moz-placeholder {
  text-align: left;
  font-size: 14px;
}
/* Firefox 19+ */
.unlock-screen input::-moz-placeholder {
  text-align: left;
  font-size: 14px;
}
/* IE */
.unlock-screen input:-ms-input-placeholder {
  text-align: left;
  font-size: 14px;
}

input.large-input,
textarea.large-input {
  /* margin-bottom: 24px; */
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  font-family: "Inter-Regular";
  font-size: 14px;
}

input.large-input {
  height: 32px;
}
/* input.large-input2 {
  height: 32px;
  width: 265px;
  padding: 4px;
} */

.letter-spacey {
  letter-spacing: 0.1em;
}

.in-progress-notification {
  color: #db60a4;
}

/* accounts */

.accounts-section {
  margin: 0 0px;
}

.accounts-section .horizontal-line {
  margin: 0px 20px;
}

.accounts-list-option {
  height: 120px;
}

.accounts-list-option .identicon-wrapper {
  width: 100px;
}

.unconftx-link {
  margin-top: 24px;
  cursor: pointer;
}

.unconftx-link .fa-arrow-right {
  margin: 0px -8px 0px 8px;
}

.white-arrow-left {
  content: url("../images/arrow-left-white.svg");
  width: 14px;
  height: 14px;
}

.white-arrow-right {
  content: url("../images/arrow-right-white.svg");
  width: 14px;
  height: 14px;
}

/* identity panel */

.identity-panel {
  font-weight: 500;
}

.identity-panel .identicon-wrapper {
  display: flex;
  align-items: center;
}

.identity-panel .identicon-wrapper span {
  margin: 0 auto;
}

/* .identity-panel .identity-data {
  /* margin: 8px 8px 8px 18px; */
/* } */ */

.identity-panel i {
  margin-left: 6px;
  color: #ffffff;
}

.identity-panel .arrow-right {
  padding-left: 18px;
  width: 42px;
  min-width: 18px;
  height: 100%;
}

.identity-copy.flex-column {
  flex: 0.25 0 auto;
  justify-content: center;
}

/* accounts screen */

/* .identity-section {

} */

.identity-section .identity-panel {
  background: #e9e9e9;
  border-bottom: 1px solid #e3e7eb;
  cursor: pointer;
}

.identity-section .identity-panel.selected {
  background: white;
  color: #f3c83e;
}

.identity-section .identity-panel.selected .identicon {
  border-color: orange;
}

.identity-section .accounts-list-option:hover,
.identity-section .accounts-list-option.selected {
  background: white;
}

/* account detail screen */

.account-detail-section {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  /*overflow-y: auto;*/
  overflow-y: -moz-scrollbars-none;
  max-height: 585px;
  flex-direction: inherit;
}

.grow-tenx {
  flex-grow: 10;
}

/* .name-label {
  /* margin-left: 18px; */
 */

.unapproved-tx-icon {
  height: 16px;
  width: 16px;
  background: rgb(47, 174, 244);
  border-color: #aeaeae;
  border-radius: 13px;
  margin-left: 10px;
}

.tx-warning {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #6729a8;
  background-image: url("../images/invalid-name.svg");
  background-size: 2px 18px;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 60px;
}

.cell.label {
  font-family: "Inter-Regular";
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  white-space: nowrap;
}

.cell.value {
  font-family: "Inter-Bold";
  font-size: 14px;
}

.edit-text {
  height: 100%;
  visibility: hidden;
}
.editing-label {
  display: flex;
  justify-content: center;
  /* margin-left: 50px; */
  font-size: 11px;
  text-rendering: geometricPrecision;
  color: #2149b9;
}
.name-label:hover .edit-text {
  visibility: visible;
}
/* tx confirm */

.unconftx-section input[type="password"] {
  height: 22px;
  padding: 2px;
  margin: 12px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 2px solid #f3c83e;
  background: #faf6f0;
}

/* Send Screen */

/* .send-screen {

} */

.send-screen section {
  margin: 10px 30px;
}

.send-screen input {
  width: 100%;
  font-size: 14px;
  border: 2px solid #c7cdd8;
  border-radius: 4px;
}

.send-eth-container {
  display: flex;
  justify-content: right;
}

/* Ether Balance Widget */

.ether-balance-label {
  color: #aba9aa;
}

.icon-size {
  width: 20px;
}

.info {
  font-family: "Inter-Regular";
  padding-bottom: 10px;
  font-size: 12px;
  display: inline-block;
}

.custom-rpc {
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* buy eth warning screen */
.custom-radios {
  justify-content: space-around;
  align-items: center;
}

.custom-radio-selected {
  width: 18px;
  height: 18px;
  border: solid;
  border-style: double;
  border-radius: 6px;
  border-width: 5px;
  background: #6729a8;
  border-color: #f7f7f7;
}

.custom-radio-inactive {
  width: 14px;
  height: 14px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e2e2e2;
}

.radio-titles {
  color: #6729a8;
}

.radio-titles-subtext {
  color: #777777;
  font-family: "Inter-SemiBold";
}

.selected-exchange {
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}

.buy-title {
  width: 100vw;
  background: #ffffff;
  color: #333333;
  padding-top: 4px;
  padding-bottom: 4px;
}

.select-service {
  color: #333333;
  padding: 29px 0px 0px 21px;
  justify-content: left;
  /* font-family: 'Inter'; */
}

/* .buy-radio {

} */

.eth-warning {
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.buy-subview {
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.input-container:hover .edit-text {
  visibility: visible;
}

.buy-inputs {
  font-family: "Inter-Light";
  font-size: 13px;
  height: 20px;
  background: transparent;
  box-sizing: border-box;
  border: solid;
  border-color: transparent;
  border-width: 0.5px;
  border-radius: 2px;
}
.input-container:hover .buy-inputs {
  box-sizing: inherit;
  border: solid;
  border-color: #6729a8;
  border-width: 0.5px;
  border-radius: 2px;
}

.buy-inputs:focus {
  border: solid;
  border-color: #6729a8;
  border-width: 0.5px;
  border-radius: 2px;
}

.activeForm {
  background: #ffffff;
  color: #2149b9;
  border-bottom: 3px solid #2149b9;
  width: 50%;
  /* font-family: Inter; */
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.activeForm.left {
  border-radius: 0px 8px 0px 0px;
}

.activeForm.right {
  border-radius: 8px 0px 0px 0px;
}

.inactiveForm {
  background: #ffffff;
  color: #848484;
  /* border: none;
  border-radius: 8px 8px 0px 0px; */
  border-bottom: 1px solid #e3e7eb;
  width: 50%;
  /* font-family: 'Inter'; */
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.ex-coins {
  font-family: "Inter-SemiBold";
  text-align: center;
  font-size: 16px;
  width: 70px;
  padding: 1px;
  color: #333333;
}

.marketinfo {
  font-family: "Inter-SemiBold";
  color: #777777;
  font-size: 14px;
  line-height: 17px;
}

#fromCoin::-webkit-calendar-picker-indicator {
  display: none;
}

#coinList {
  width: 400px;
  height: 500px;
  overflow: scroll;
}

.icon-control .fa-refresh {
  visibility: hidden;
}

.icon-control:hover .fa-refresh {
  visibility: visible;
}

.icon-control:hover .fa-chevron-right {
  visibility: hidden;
}

.inactive {
  color: #aeaeae;
}

.inactive button {
  background: #aeaeae;
  color: "blue";
}

.ellip-address {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 5em;
  font-size: 14px;
  font-family: "Inter-Regular";
  margin-left: 5px;
  color: #777777;
}

.qr-header {
  font-family: "Inter-SemiBold";
  font-size: 16px;
  margin-top: 25px;
}
.qr-header1 {
  font-family: "Nunito SemiBold";
  font-size: 16px;
  margin-top: 17px;
}

.qr-message {
  font-size: 12px;
  color: #6729a8;
}

div.message-container > div:first-child {
  margin-top: 18px;
  font-size: 15px;
  color: #4d4d4d;
}

.pop-hover:hover {
  transform: scale(1.1);
}

.new-ui-announcement {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  color: #4d4d4d;
  font-family: Roboto, Arial, sans-serif;
  padding: 1.5rem;
}

.new-ui-announcement__announcement-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.new-ui-announcement__announcement-header a.close {
  cursor: pointer;
  font-size: 32px;
  line-height: 17px;
}

.new-ui-announcement__announcement-header a.close:hover {
  color: inherit;
}

.new-ui-announcement__announcement-header h1 {
  color: #33a4e7;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.new-ui-announcement__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 10.5pt;
  font-weight: 300;
}

.new-ui-announcement__body h1 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 1rem;
}

.new-ui-announcement__body a {
  color: #33a4e7;
}

.new-ui-announcement__body .updates-list {
  padding: 0.5rem 1rem;
}

.new-ui-announcement__body .updates-list h2 {
  font-weight: 600;
}

.new-ui-announcement__body .updates-list ul {
  list-style: disc inside;
}

.new-ui-announcement__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-ui-announcement__footer h1 {
  font-family: inherit;
  font-weight: 600;
}

.new-ui-announcement__footer button:hover {
  transform: none;
}

.new-ui-announcement__footer button.positive {
  padding: 1rem;
  margin: 1rem;
  background: #33a4e7;
  color: white;
  text-transform: uppercase;
  box-shadow: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  width: 90%;
}

.new-ui-announcement__footer button.negative {
  margin: 0;
  padding: 0;
  background: white;
  color: #33a4e7;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  box-shadow: none;
}

.notification-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid #dedede;
  box-shadow: 0 0 2px 2px #dedede;
  font-family: Roboto;
}

.notification-modal-header {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 22px;
  color: #1b344d;
  height: 79px;
}

.notification-modal-message {
  padding: 20px;
}

.notification-modal-message {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #1b344d;
}

.modal-close-x::after {
  content: "\00D7";
  font-size: 2em;
  color: #9b9b9b;
  position: absolute;
  top: 25px;
  right: 17.5px;
  font-family: sans-serif;
  cursor: pointer;
}

.notification-modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid #dedede;
  box-shadow: 0 0 2px 2px #dedede;
  font-family: "Inter";
}

.notification-modal__header {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 22px;
  color: #1b344d;
  height: 79px;
}

.notification-modal__message {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #1b344d;
}

.notification-modal__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 24px;
  padding: 0px 42px;
}

.notification-modal__buttons__btn {
  cursor: pointer;
}

.notification-modal__link {
  color: #2f9ae0;
}

.confirm-label {
  padding: 20px 50px;
  color: #6729a8;
  border: solid 1px #6729a8;
  border-radius: 5px;
  background-color: rgba(103, 41, 168, 0.2);
  word-wrap: break-word;
}

.contract::after {
  content: url("../images/contract.svg");
  width: 36px;
  height: 42px;
}

.contract-small::after {
  content: url("../images/contract-small.svg");
  width: 19px;
  height: 22px;
}

.menu-droppo-container::-webkit-scrollbar {
  width: 0px;
}

.menu-droppo-container::-webkit-scrollbar-thumb {
  border: none;
  background-clip: content-box;
}

.hidden {
  visibility: hidden;
}

input[disabled],
textarea[disabled] {
  background: #ffffff;
}

.xdc-logo {
  margin-top: 20px;
}

.success-logo {
  margin-right: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 223px;
  background-color: #ffffff;
  color: #2a2a2a;
  text-align: center;
  border-radius: 6px;
  padding: 5px 9px;
  position: absolute;
  z-index: 1;
  top: 143%;
  left: 50%;
  margin-left: -180px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e3e7eb;
  font-family: "Inter-Medium";
}

.tooltip .tooltiptext::after {
  content: "";
  background-image: "/images/Assets/QuestionMarkActive.svg";
  position: absolute;
  bottom: 102%;
  left: 87%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e3e7eb transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.word {
  margin-top: 42px;
  font-size: 12px;
  color:#2A2A2A;
  font-family: 'Inter-Medium';
}

.settings {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter-Medium';
  align-items: center;
  min-height: 20px;
  padding: 13px 18px;
  border-bottom: 1px solid #e3e7eb;
  font-size: 14px;
  color: #2a2a2a;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 1px;
  background-color: #848484;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid #2049b9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #2049b9;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -3px;
  bottom: 1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-Box{
  margin-bottom: 24px;
   border:1px solid #e2e2e2;
   border-radius: 4px;
}

::-webkit-scrollbar {

  width: 20px;

}


::-webkit-scrollbar-track {

  background-color: transparent;

}



::-webkit-scrollbar-thumb {

  background-color: #d6dee1;

  border-radius: 20px;

  border: 6px solid transparent;

  background-clip: content-box;

}

/* Trasaction-details-screen-css */
.details {
  margin-left: 17px;
    color: #2149B9;
    font-size: 14px;
}

.flexbox {
  background-color: #FAFAFA;
  padding: 8px 12px;
  margin: 10px 15px;
  display: block;
}


.trasaction-details-from-to {
  font-family: inter-medium;
  font-size: 12px;
  color: #848484;
}

.trasaction-details-from-to-accounts {
  font-family: inter-regular;
  font-size: 14px;
  color: #2A2A2A;
}

.trasaction-details-amount {
  padding-bottom: 17px;
  border-bottom: 1px solid #E3E7EB;
  display: flex;
 justify-content: space-between;
 width: 100%;
max-width: 331px;
margin-top: 18px;
font-size: 14px;
font-family: inter-medium;

}

.transaction-log-heading{
  margin-left: 17px;
    margin-top: 25px;
    color: #2149B9;
    opacity: 1;
    font-size: 14px;
    width: 91%;
    padding-bottom: 11px;
    border-bottom: 1px solid #E3E7EB;
}

.transaction-log-main{
  font-size: 12px;
  padding: 6px 6px 50px 6px;
}

.transaction-border {
  border-left: 2px solid #2049B9;
  height: 30px;
  margin-left: 11px;
}
