.password-strength-meter {
  text-align: left;
}


.password-strength-meter-label {
  font-size: 14px;
}


.strength-Weak::-webkit-progress-value {
  background-color: #F25F5C;
}
.strength-Fair::-webkit-progress-value {
  background-color: #FFE066;
}
.strength-Good::-webkit-progress-value {
  background-color: #0CBE46;
}
.strength-Strong::-webkit-progress-value {
  background-color: #70C1B3;
}
